<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>theme</key>
	<string>#4f4388</string>
	<key>darkBlueGrey</key>
	<string>#22184e</string>
	<key>black</key>
	<string>#000000</string>
	<key>white</key>
	<string>#ffffff</string>
	<key>white20</key>
	<string>#ffffff20</string>
	<key>whiteT</key>
	<string>#ffffff1a</string>
	<key>clear</key>
	<string>#00000000</string>
	<key>ceruleanBlue</key>
	<string>#0c69e3</string>
	<key>tomato</key>
	<string>#f14336</string>
	<key>black18</key>
	<string>#00000018</string>
	<key>black75</key>
	<string>#00000095</string>
	<key>charcoalGrey</key>
	<string>#424a54</string>
	<key>greyishBrown</key>
	<string>#3d3d3d</string>
	<key>macaroniAndCheese</key>
	<string>#f2be37</string>
	<key>brownishOrange</key>
	<string>#d26a1e</string>
	<key>primary</key>
	<string>#000000</string>
	<key>grey01</key>
	<string>#bcbec5</string>
	<key>placeholderColor</key>
	<string>#bcbec5</string>
	<key>white1</key>
	<string>#ececec</string>
	<key>white2</key>
	<string>#dadada</string>
	<key>white3</key>
	<string>#e5e5e5</string>
	<key>black1</key>
	<string>#181818</string>
	<key>veryLightBlue</key>
	<string>#e5ebff</string>
	<key>greyish</key>
	<string>#b6b6b6</string>
	<key>grey02</key>
	<string>#e4e4e4</string>
	<key>white4</key>
	<string>#eeeeee</string>
	<key>peacockBlue</key>
	<string>#055f8b</string>
	<key>textFieldBorderColor</key>
	<string>#e3e3e4</string>
	<key>blackThree</key>
	<string>#373737</string>
	<key>acceptedTextColor</key>
	<string>#579661</string>
	<key>acceptedBgColor</key>
	<string>#b3f5cb</string>
	<key>rejectedTextColor</key>
	<string>#ea827f</string>
	<key>rejectedBgColor</key>
	<string>#ffdbd9</string>
	<key>pendingBgColor</key>
	<string>#ffefbf</string>
	<key>pendingTextColor</key>
	<string>#b9993f</string>
	<key>white6</key>
	<string>#f4f4f4</string>
	<key>oceanBlue</key>
	<string>#0077b5</string>
	<key>whiteGray</key>
	<string>#888888</string>
	<key>whiteThree</key>
	<string>#efefef</string>
	<key>dark</key>
	<string>#252d36</string>
	<key>squash</key>
	<string>#e7ab0f</string>
	<key>brownishOrangeTwo</key>
	<string>#e4721e</string>
	<key>fadedBlue</key>
	<string>#6081c4</string>
	<key>white90</key>
	<string>#E9E9E7</string>
	<key>sandy</key>
	<string>#eec897</string>
	<key>brownishGrey</key>
	<string>#606060</string>
	<key>pinkishGrey</key>
	<string>#c1c1c1</string>
	<key>blackTwo</key>
	<string>#2d2d2d</string>
	<key>blackFour</key>
	<string>#2f2f2f</string>
	<key>blackFive</key>
	<string>#333333</string>
	<key>silver</key>
	<string>#c3c4c6</string>
	<key>darkMintGreen</key>
	<string>#17b45a</string>
	<key>border</key>
	<string>#272624</string>
	<key>coral</key>
	<string>#ff4343</string>
	<key>coral2</key>
	<string>#ff4545</string>
	<key>boxColor1</key>
	<string>#554799</string>
	<key>wisteria</key>
	<string>#a89ecc</string>
	<key>boxColor2</key>
	<string>#4b50b8</string>
	<key>boxColor3</key>
	<string>#ad83e6</string>
	<key>boxColor4</key>
	<string>#3d476f</string>
	<key>separatorColor</key>
	<string>#dedede</string>
	<key>boxColor5</key>
	<string>#4154B3</string>
	<key>perrywinkle</key>
	<string>#ad83e6</string>
	<key>reddish</key>
	<string>#cd3e3e</string>
	<key>darkGreyBlue</key>
	<string>#3b306a</string>
	<key>white5</key>
	<string>#f3f3f3</string>
	<key>boxBg</key>
	<string>#605882</string>
	<key>darkSlateBlue</key>
	<string>#2e2164</string>
	<key>darkGreyBlueTwo</key>
	<string>#2f2656</string>
	<key>progressSecondaryColor</key>
	<string>#9C6693</string>
	<key>strokeColor</key>
	<string>#957EFA</string>
	<key>lineSeparator</key>
	<string>#F3F5FA</string>
	<key>orchid</key>
	<string>#c788c6</string>
	<key>neonRed</key>
	<string>#ff1038</string>
	<key>coolGrey</key>
	<string>#b9bac0</string>
	<key>blueberry</key>
	<string>#4f4388</string>
</dict>
</plist>
